{% extends "base.html" %}


{% block title %}

Posts

{% endblock %}


{% block content %}

<div class="card mt-3 " style="width: 18rem;">
    <img src="/media/{{post.image}}" class="card-img-top" alt="">
    {% if post.video %}
    <video width="320" height="240" controls class="card-img-top">
        <source src="/media/{{post.video}}" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
    </video>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.description}}</p>
    </div>
</div>

<br><br>

<h4>Comments</h4>
{% for comment in comments %}
<div class="border border-3">
    <p>
        {{comment.text}}
    </p>
    <div class="position-absolute end-0">
        user:{{comment.user.nick_name}}
    </div>
    <a href="/posts/like/{{comment.id}}" class="">
        likes:{{comment.likes.all.count}}
    </a>
    <div class="">
        <a href="/posts/dislike/{{comment.id}}"> dislikes:{{comment.dislikes.all.count}}</a>
    </div>
</div>
<br>
{% endfor %}


<form method="post">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4 w-25 p-3">
        <label class="form-label" for="form1Example1">Comment</label>
        <textarea name="newcomment" id="" cols="100" rows="10"></textarea>
      
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>

{% endblock %}