{% extends "base.html" %}


{% block title %}

Posts

{% endblock %}


{% block content %}

<form method="post">
  {% csrf_token %}

  <div class="container ">
    <div class="row form-outline mb-4 w-50">
      <div class="col-sm">
        <label class="form-label" for="form1Example1">Search Post:</label>
        <input type="text" id="form1Example1" name="searchposts" class="form-control" />
      </div>
      <div class="col-sm">
        <br>
        <button type="submit" class="btn btn-primary btn-block mt-2">Search</button>
      </div>
    </div>
  </div>
  


</form>
<br><br>

<div class="row">
  {% for post in posts %}
  <div class="card mt-3 " style="width: 18rem;">
    <img src="/media/{{post.image}}" class="card-img-top" alt="">
    {% if post.video %}
    <video width="320" height="240" controls class="card-img-top">
      <source src="/media/{{post.video}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="/posts/postdetail/{{post.id}}" target="_blank">{{post.title}}</a></h5>
      <p class="card-text">{{post.description}}</p>
    </div>

  </div>
  {% endfor %}
</div>

<br><br>

<center>
  {% if button %}
  <a href="/posts/create-post/{{spaceid}}" class="btn btn-primary">Create Post</a>
  {% endif %}
</center>




{% endblock %}