{% extends "base.html" %}


{% block title %}

Posts

{% endblock %}


{% block content %}

<div class="ms-5">

    <div class="card mt-3 " style="width: 18rem;">
        <img src="/media/{{post.image}}" class="card-img-top" alt="">
        {% if post.video %}
        <video width="320" height="240" controls class="card-img-top">
            <source src="/media/{{post.video}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
        </div>
    </div>

    <br><br>

    <h4 class="ms-4">Comments</h4>
    {% for comment in comments %}
    <div class="border border-2 position-relative">
        <div class="ps-3">
            <p>

                {{comment.text}}
            </p>
        </div>
        <div class="position-absolute end-0">
            <p class="pe-2">
                {{comment.user.nick_name}}
            </p>
        </div>
        <div class="ps-3">
            <a href="/posts/like/{{comment.id}}" class="">
                <i class="fa fa-thumbs-up">{{comment.likes.all.count}}</i>
            </a>
        </div>
        <div class="ps-3">
            <a href="/posts/dislike/{{comment.id}}"><i class="fa fa-thumbs-down"
                    style="color:red">{{comment.dislikes.all.count}}</i></a>
        </div>
    </div>
    <br>
    {% endfor %}


    <form method="post">
        {% csrf_token %}
        <div class="form-outline w-25 p-3">
            <label class="form-label" for="form1Example1">Comment</label>
            <textarea name="newcomment" id="" cols="100" rows="10"></textarea>

        </div>

        <div class="mb-4">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block ms-4">Submit</button>
        </div>
    </form>

</div>

{% endblock %}