{% extends "base.html" %}


{% block title %}

Change Password

{% endblock %}


{% block content %}
    <center>
    <form method="post">
        {% csrf_token %}
        
        <!-- Password input -->
        <div class="form-outline mb-4 w-25 p-3">
            <label class="form-label" for="form1Example2">Old Password</label>
            <input type="password" name="oldpwd" id="form1Example2" class="form-control" />
          
        </div>

                <!-- Password input -->
                <div class="form-outline mb-4 w-25 p-3">
                    <label class="form-label" for="form1Example2">New Password</label>
                    <input type="password" name="newpwd" id="form1Example2" class="form-control" />
                  
                </div>
            <br>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        
      </form>
    </center>

    {% endblock %}