{% extends "base.html" %}


{% block title %}

Sign Up

{% endblock %}


{% block content %}

  <center>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-outline mb-4 w-25 p-3">
        <img src="http://via.placeholder.com/150x150" alt="" class="rounded-circle" />
        <br/>
        <input type="file" name="avatar" required/>
      </div>

        <div class="row mb-4 w-25 p-3">
          <div class="col">
            <div class="form-outline">
              
              <label class="form-label" for="form3Example1">Nick name</label>
              <input type="text" name="nickname" id="form3Example1" class="form-control" />
            </div>
          </div>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4 w-25 p-3">
          
          <label class="form-label" for="form3Example3">Email address</label>
          <input type="email" name="email" id="form3Example3" class="form-control" />
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4 w-25 p-3">
          <label class="form-label" for="form3Example4">Password</label>
          <input type="password" name="pwd" id="form3Example4" class="form-control" />


        </div>
      
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
      
      </form>
    </center>
    {% endblock %}