{% extends "base.html" %}


{% block title %}

Homepage

{% endblock %}


{% block content %}

<div class="row">
    {% for space in spaces %}
    <div class="card mt-3 " style="width: 18rem;">
        <img src="/media/{{space.banner}}" class="card-img-top" height="100px" alt="">
        <div class="card-body">
            <h5 class="card-title"><a href="/posts/{{space.id}}/">{{space.title}}</a></h5>
            {% if user in space.user.all %}
            <a href="/spaces/leavespace/{{space.id}}" class="card-title">Leave Space</a>
            {% else %}
            <a href="/spaces/joinspace/{{space.id}}" class="card-title">Join Space</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}