{% extends "base.html" %}


{% block title %}

Homepage

{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %}

    <div class="container ">
        <div class="row form-outline mb-4 w-50">
          <div class="col-sm">
            <label class="form-label" for="form1Example1">Search Space:</label>
            <input type="text" id="form1Example1" name="searchspaces" class="form-control" />
          </div>
          <div class="col-sm">
            <br>
            <button type="submit" class="btn btn-primary btn-block mt-2">Search</button>
          </div>
        </div>
      </div>



  </form>
  <br><br>

  <p>{{emptymsg}}</p>


<div class="ms-5">
<div class="row">
    {% for space in spaces %}
    <div class="card mt-3 " style="width: 18rem;">
        <img src="/media/{{space.banner}}" class="card-img-top" height="100px" alt="">
        <div class="card-body">
            <h5 class="card-title"><a href="/posts/{{space.id}}/">{{space.title}}</a></h5>
            {% if user in space.user.all %}
            <a href="/spaces/leavespace/{{space.id}}" class="card-title">Leave Space</a>
            {% else %}
            <a href="/spaces/joinspace/{{space.id}}" class="card-title">Join Space</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>
</div>

{% endblock %}